@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.conteiner {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
}

.image {
  width: 100%;
  height: 100vh;
}

.contentwrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 48px 96px;
  max-width: 576px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  background: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.header h2{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;

  text-align: center;
  color: #000000;
  margin: 25px 0px 8px;
}

.header aside p{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: 0px !important;

  color: #4B5563;
}

.social_sign{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;

  margin: 24px 0px 0px;
}

.social_heading{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #000000;
  margin: 4px 0px;
}

.social_buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  width: 100%;

  margin: 4px 0px;
}

.social_buttons_i{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 38px;

  background: #FFFFFF;

  border: 1px solid #D1D5DB;
  box-sizing: border-box;

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  cursor: pointer;
}

.ribbon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  width: 100%;
  margin: 24px 0px;
}

.ribbon_text{
  min-width: fit-content;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: #6B7280;
  margin: 0px 8px;
}

.ribbon_divider {
  width: 100%;
  height: 1px;

  background: #D1D5DB;
}

.ribbon_divider_2 {
  width: 105.5px;
  height: 1px;

  background: #D1D5DB;
}

.form {
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 100%;
  min-width: 100%;
  height: 66px;

  margin: 0px 0px 24px;
}

.input_text{
  width: 123px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #374151;

  margin: 4px 0px;
}

.input_input{
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  width: 100%;
  padding-left: 13px;
  max-width: 384px;
  height: 42px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 384px;
  width: 100%;
  height: 38px;

  color: white;
  background: #000000;

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  cursor:pointer;
}

@media (max-width: 1000px) {
  .image{
    display: none;
  }
  .contentwrapper{
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .contentwrapper {
    padding: 48px 16px;
  }
}